*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:black;
	background-color:black;
	font-family:Arial, Helvetica, sans-serif;
	background: url(../images/bookstore.jpg) top center 
}

/* Hyperlink Styles: */

header{
	margin-bottom: 10px;
	padding:10 10 10;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

/* Headings: */

p, td:first-of-type{
	font-size:12px;	
	color:black;
	line-height:1.5em;
	padding-bottom:1em;
}

td:nth-child(2){
	font-size:12px;	
	color:Black;
	line-height:1.5em;
	padding-bottom:1em;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:darkgrey;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	padding:0 5px;
	background: rgba(211, 211, 211, .8);
	border:1px solid #FCFCFC;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow:3px 3px 3px #333333;
	-webkit-box-shadow:3px 3px 3px #333333;
	box-shadow:3px 3px 3px #333333;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:3px 3px 3px white;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
}

nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

canvas {
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
	width: 600;
	height: 200;
}
		
article{
	background-color:rgba(211, 211, 211, .7);
	padding:20px;
	margin-bottom: 3em;
	text-shadow:3px 3px 3px white;
}

figure{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

figure:hover{
	-moz-box-shadow:3px 3px 3px #4D7788;
	-webkit-box-shadow:3px 3px 3px #4D7788;
	box-shadow:3px 3px 3px #4D7788;
}

figure img{
	margin-left:-60px;
}

form {
    border: 1px solid #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;    
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
    background-color: #eee;
    padding: 10px; margin-bottom: 30px;
}

label {
    font-weight: bold; font-size: 13px;
}

input {
    margin-bottom: 3px; font-size: 13px;
}

/* Footer styling: */

aside {
	margin-top: 60px;
}


/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:15px;
	color : #e0e0e0;
}


footer p{
	margin-bottom:-2.5em;
	position:relative;
}

footer a,footer a:visited{
	color:#cccccc;
	background-color:#213e4a;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#142830;
}

footer a.by{
	float:left;

}

a.up{
	float:right;
}

/* zebra striping styling: */

#myTable tr:nth-child(3n) {
	background-color: #dcd6dd;
}

#myTable tr:nth-child(3n + 1) {
	background-color: #fcc;
}

#myTable tr:nth-child(3n + 2) {
	background-color: #d3ffbf;
}

/* navigator table styling: */
#navTable {
	width: 700;
}

.value a{
	margin-right: 110px;
}

/* image popup styling: */

.popup{
    width: 900px;
    margin: auto;
    text-align: center
}
.popup img{
    width: 200px;
    height: 200px;
    cursor: pointer
}
.show{
    z-index: 999;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
}
.show .img-show{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
#closeLink {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    top: 0;
    left: 0;
}
/*End style*/

